<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('./partials/navbar') -%>
  <h1>Contact Us</h1>
  <p>Email: contact@example.com</p>
  <p>Phone: +225 00 123 456 78</p>
</body>
</html>